
<!DOCTYPE html>
<html lang="es-Ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" >
    <title><%=titulo%></title>
  </head>
  <body>
    <%- include('../base/nav',{tituloHeader:titulo}); %>
    <div class="container mt-1">
      <div class="row justify-content-center">
        <div class="col-md-8 col-sm-6">
          <% for (post of posts){ %>
          <div class="card my-3">
            <div class="card-body">
              <h5 class="card-title"><%= post.titlePost %></h5>
              <p class="card-text"><%= post.contentPost %></p>
              <div class="card-text">
                <a href="<%= post.imagePost %>" target="_blank">imagen</a>
              </div>
              <p class="card-text float-md-end">
                <small class="text-body-secondary"><%= post.createdAt %></small>
              </p>
            </div>
            <div class="card-footer">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-primary btn-sm">
                  Editar
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                  eliminar
                </button>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <%- include('../base/footer',{}); %>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
